

.link-header {
    display: inline-block;
    position: relative;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.875px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 87px;
    height: 20px;
    top: 27px;
    left: 42px;
    cursor: pointer;
}

button {
    width: 120px;
    height: 45px;
    border-radius: 6px;
    background: #4CB538;
    border: none;
    color: #ffffff;
    margin-left: 420px;
    margin-top: -7px;
    cursor: pointer;
}

button:active {
    color: #6FBF44;
    background: rgb(8, 8, 147);
}


section {
    text-align: left;
    display: block;
}

h1 {
    position: relative;
    font-family: Poppins;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.5961538553237915px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 582px;
    height: 164px;
    top: 82px;
    left: 801px;
}

p {
    position: relative;
    width: 493px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    top: 90px;
    left: 801px;
}

p:hover {
    color: rebeccapurple;
}

.link-section {
    display: block;
    position: relative;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 113px;
    height: 27px;
    top: 150px;
    left: 801px;
    cursor: pointer;
    color: #6FBF44;
}

.link-section:active {
    color: red;
}

img {
    display: block;
    position: relative;
    width: 595.18px;
    height: 500px;
    top: -324px;
    left: 100px;
}

@media screen and (max-width: 900px) {
    .link-header {
        display: none;
    }

    button {
        position: relative;
        display: block;
        width: 68px;
        height: 23px;
        top: 4px;
        left: -278px;
    }

section {
    text-align: center;
}

    h1 {
        display: inline-block;
        position: relative;
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        line-height: 30px;
        width: 278px;
        height: 60px;
        letter-spacing: 0,6px;
        top: 30px;
        left: -25px;
    }

    p {
        display: inline-block;
        position: relative;
        width: 231px;
        height: 98px;
        top: 11px;
        font-family: Poppins;
        font-size: 11px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.5px;
        text-align: center;
        text-align: center;
        line-height: 23px;
        left: -24px;
    }

    .link-section {
        display: inline-block;
        position: relative;
        text-align: center;
        width: 113px;
        height: 27px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        top: 1px;
        left: -21px;
    }

    img {
        display: block;
        position: relative;
        width: 208px;
        height: 185px;
        top: 16px;
        left: 8px;
    }
}